<!DOCTYPE html>
<html lang="fr">
<head>
    <title>JobBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/acc_style.css">
</head>
<body>
<header>
    <div id="header">
        <img src="assets/img/logo.png">
        <h1>JobBoard</h1>

    </div>
    <nav>
        <a href="acc.html">Accueil</a>
        <a href="users.html">Inscription</a>
        <a href="users.html">Connexion</a>
    </nav>
</header>
<div class="main">
    <section>
        <h2>Recherche d'emploi</h2>
        <div id="content">

        </div>
    </section>


</div>


<footer>
    <ul>
        <li>A propos</li>
        <li>Contactez-nous</li>
    </ul>

</footer>

<script src="assets/js/acc.js"></script>
</body>
</html>